@using PlanningApp.Services
@using PlanningApp.Models

@page "/employees"
@inject EmployeeService EmployeeService
@inject IJSRuntime JS

<PageTitle>Employees</PageTitle>



@code {
	private List<Employee> employees = new();
	private Employee formEmployee = new Employee();
	private bool isEditing = false;
	private List<String> AvailablePositions = new()
	{
		"Team Leader",
		"Line operator",
		"Sticker operator",
		"Machine operator",
		"Transporter",
		"Quality",
		"Cleaner",
		"Worker"
	};

	protected override async Task OnInitializedAsync()
	{
		employees = await EmployeeService.GetAllAsync();
	}

	private async Task DeleteEmployee(Employee employeeToDelete)
	{
		bool confirmed = await JS.InvokeAsync<bool>(
		"confirm",
		$"Are you sure you want to delete  {employeeToDelete.FirstName} {employeeToDelete.LastName}?");

		if (isEditing && formEmployee != null && formEmployee.Id == formEmployee.Id)
		{ CancelEdit(); }

		if (confirmed)
		{
			await EmployeeService.DeactiveAsync(employeeToDelete);
			employees = await EmployeeService.GetAllAsync();
		}
	}

	private void EditEmployee(Employee employee)
	{
		formEmployee = new Employee
		{
			Id = employee.Id,
			FirstName = employee.FirstName,
			LastName = employee.LastName,
			DefaultPosition = employee.DefaultPosition,
			IsActive = employee.IsActive
		};

		isEditing = true;
	}

	private void CancelEdit()
	{
		formEmployee = new Employee();
		isEditing = false;
	}

	private async Task SaveEmployee()
	{
		if (isEditing)
		{
			await EmployeeService.EditAsync(formEmployee);
		}
		else
		{
			await EmployeeService.AddAsync(formEmployee);
		}
		employees = await EmployeeService.GetAllAsync();
		formEmployee = new Employee();

		isEditing = false;
	}
}

<div class="container-fluid px-4 pt-2">
	<h1 class="fw-bold text-dark mb-2">Employees</h1>
	
<EditForm Model ="@formEmployee" OnValidSubmit="SaveEmployee">
	<DataAnnotationsValidator/>
	<ValidationSummary/>
	
	<div style="max-width: 800px">
	<div class="mb-3">
		<label class="form-label">First Name</label>
		<InputText class="form-control"
			@bind-Value="formEmployee.FirstName"/>
	</div>
	
	<div class="mb-3">
		<label class="form-label">Last Name</label>
		<InputText class="form-control"
			@bind-Value="formEmployee.LastName"/>
	</div>

			<div class="mb-3">
				<label class="form-label fw-bold">Default Position</label>
				<InputSelect class="form-select" @bind-Value="formEmployee.DefaultPosition">
					<option value="" disabled selected hidden> Select Position </option>
					@foreach (var position in AvailablePositions)
					{
						<option value="@position">@position</option>
					}
				</InputSelect>
			</div>
				<button class="btn @(isEditing ? "btn-success" : "btn-primary")">
					@(isEditing ? "Update Employee" : "Add Employee")
				</button>
			
@if (isEditing) {
				<button type="button" class="btn btn-secondary ms-2" @onclick="CancelEdit">
					Cancel
				</button> }
	</div>
</EditForm>

<h2 class="mt-4">List of employees</h2>

<table class="table table-striped table-hover mt-4">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Default Position</th>
		</tr>
	</thead>

	<tbody>
@foreach (var e in employees)
				if (e.IsActive == true)
				{
					{
						<tr>
							<td>@e.FirstName</td>
							<td>@e.LastName</td>
							<td>@e.DefaultPosition</td>
							<td class="text-end">
								<button class="btn btn-danger" @onclick="() => DeleteEmployee(e)">
									Delete
								</button>
								<button class="btn btn-secondary" @onclick="() => EditEmployee(e)">
									Edit
								</button>
							</td>
						</tr>
					}
				}
		</tbody>
	</table>
</div>
