@using PlanningApp.Services
@using PlanningApp.Models
@using PlanningApp.Planning

@page "/planning"
@inject PlanningService PlanningService
@inject EmployeeService EmployeeService
@inject ProductionLineService ProductionLineService
@inject IJSRuntime JS

<PageTitle>Planning</PageTitle>

@code {
	private DateTime selectedWeek = DateTime.Today;

	private List<ScheduleAssignment> assignments = new();

	private List<Employee> employees = new();

	private List<ProductionLine> productionLines = new();
	private DateTime monday;

	protected override async Task OnInitializedAsync()
	{
		assignments = await PlanningService.GetWeekPlanningAsync(selectedWeek);

		employees = await EmployeeService.GetAllAsync();

		productionLines = await ProductionLineService.GetAllAsync();

		monday = GetStartOfWeek(DateTime.Today);
	}
	private DateTime GetStartOfWeek(DateTime date)
	{
		int diff = (7 + (date.DayOfWeek - DayOfWeek.Monday)) % 7;
		return date.AddDays(-diff).Date;
	}

	private List<DateTime> WeekDays =>
[
	monday,
	monday.AddDays(1),
	monday.AddDays(2),
	monday.AddDays(3),
	monday.AddDays(4),
	monday.AddDays(5),
	monday.AddDays(6)
];

	private ScheduleAssignment? GetAssignment(
		DateTime day,
		int shift,
		int productionLineId,
		string position)
	{
		return assignments.FirstOrDefault(x =>
			x.WorkDate.Date == day.Date &&
			x.Shift == shift &&
			x.ProductionLineId == productionLineId &&
			x.PositionOnLine == position);
	}
}

<div class="container-fluid px-4 pt-2">
	<h1 class="fw-bold text-dark mb-2">Planning</h1>
	<h5 class="text-dark mb-2">Week: @monday.ToString("dd.MM.yyyy") - @monday.AddDays(6).ToString("dd.MM.yyyy")</h5>

@foreach (var line in productionLines)
	{
		<h3>line: @line.Name</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th style="width: 200px;">Position</th>

					@foreach (var day in WeekDays)
					{
						<th>
							@day.ToString("ddd")
							<br />
							<span class="fw-light text-muted" style="font-size: 0.95rem;">
								@day.ToString("dd.MM")
							</span>
						</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var position in PlanningPositions.All)
				{
					<tr>
						<th scope="row">@position</th>

						@foreach (var day in WeekDays)
						{
							var assignment = GetAssignment(day, 1, line.Id, position);
							<td>@assignment?.Employee.FirstName</td>
						}
					</tr>
				}
			</tbody>
		</table>
	}
</div>
