@using PlanningApp.Services
@using PlanningApp.Models
@using PlanningApp.Planning

@page "/planning"
@inject PlanningService PlanningService
@inject EmployeeService EmployeeService
@inject ProductionLineService ProductionLineService
@inject IJSRuntime JS

<PageTitle>Planning</PageTitle>

@code {
	private DateTime selectedWeek = DateTime.Today;
	private List<ScheduleAssignment> assignments = new();
	private List<Employee> employees = new();
	private List<ProductionLine> productionLines = new();
	private DateTime monday;
	private PlanningCell? selectedCell;
	private bool isPopupVisible = false;
	private double mouseX;
	private double mouseY;

	protected override async Task OnInitializedAsync()
	{
		assignments = await PlanningService.GetWeekPlanningAsync(selectedWeek);

		employees = await EmployeeService.GetAllAsync();

		productionLines = await ProductionLineService.GetAllAsync();

		monday = GetStartOfWeek(DateTime.Today);
	}
	private DateTime GetStartOfWeek(DateTime date)
	{
		int diff = (7 + (date.DayOfWeek - DayOfWeek.Monday)) % 7;
		return date.AddDays(-diff).Date;
	}

	private List<DateTime> WeekDays =>
[
	monday,
	monday.AddDays(1),
	monday.AddDays(2),
	monday.AddDays(3),
	monday.AddDays(4),
	monday.AddDays(5),
	monday.AddDays(6)
];

	private ScheduleAssignment? GetAssignment(
		DateTime day,
		int shift,
		int productionLineId,
		string position)
	{
		return assignments.FirstOrDefault(x =>
			x.WorkDate.Date == day.Date &&
			x.Shift == shift &&
			x.ProductionLineId == productionLineId &&
			x.PositionOnLine == position);
	}

	private void SelectCell(
	MouseEventArgs e,
	DateTime day,
	int shift,
	int lineId,
	string position)
	{
		selectedCell = new PlanningCell
		{
			WorkDate = day,
			Shift = shift,
			ProductionLineId = lineId,
			Position = position
		};

		mouseX = e.ClientX + 10;
		mouseY = e.ClientY + 10;

		isPopupVisible = true;
	}

	private void ClosePopup()
	{
		isPopupVisible = false;
	}

	private async Task AssignEmployee(int employeeId)
	{
		if (selectedCell == null)
			return;

		await PlanningService.AssignEmployeeAsync(
		selectedCell.WorkDate,
		selectedCell.Shift,
		selectedCell.ProductionLineId,
		selectedCell.Position,
		employeeId);

		assignments = await PlanningService.GetWeekPlanningAsync(selectedWeek);
		selectedCell = null;
		ClosePopup();
	}

	private async Task  UnassignEmployeeAsync()
	{
		if (selectedCell == null)
			return;
		
		await PlanningService.UnassignEmployeeAsync(
				selectedCell.WorkDate,
				selectedCell.Shift,
				selectedCell.ProductionLineId,
				selectedCell.Position);

		assignments = await PlanningService.GetWeekPlanningAsync(selectedWeek);
		selectedCell = null;
		ClosePopup();
	}
}

<div class="container-fluid px-4 pt-2">
	<h1 class="fw-bold text-dark mb-2">Planning</h1>
	<div class="d-flex align-items-center gap-2">
		<h5 class="text-dark mb-0 me-2">Week:</h5>
		<button type="button"
				class="btn btn-sm d-flex align-items-center justify-content-center"
				style="background-color: #dbf0ee; color: #115e59; border: 1px solid #a6d9d5; width: 28px; height: 28px; padding: 0;">
			<i class="bi bi-chevron-left"></i>
		</button>
		<h5 class="text-dark mb-0">@monday.ToString("dd.MM.yyyy") - @monday.AddDays(6).ToString("dd.MM.yyyy")</h5>
		<button type="button"
				class="btn btn-sm d-flex align-items-center justify-content-center"
				style="background-color: #dbf0ee; color: #115e59; border: 1px solid #a6d9d5; width: 28px; height: 28px; padding: 0;">
			<i class="bi bi-chevron-right"></i>
		</button>
	</div>

	@foreach (var line in productionLines)
	{
		<h3>line: @line.Name</h3>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th style="width: 200px;">Position</th>

					@foreach (var day in WeekDays)
					{
						<th>
							@day.ToString("ddd")
							<br />
							<span class="fw-light text-muted" style="font-size: 0.95rem;">
								@day.ToString("dd.MM")
							</span>
						</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var position in PlanningPositions.All)
				{
					<tr>
						<th scope="row">@position</th>

						@foreach (var day in WeekDays)
						{
							var currentDay = day;
							var assignment = GetAssignment(day, 1, line.Id, position);
							<td @onclick="(e) => SelectCell(e,currentDay, 1, line.Id, position)" style="cursor: pointer;"
								class="position-relative @(assignment != null ? "assigned" : "")">

								@if (assignment != null)
								{
									@assignment.Employee.FirstName
								}
								else
								{
									<span class="text-muted">&nbsp;</span>
								}
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	}
	@if (isPopupVisible)
	{
		<div @onclick="ClosePopup"
			 style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1040; background: transparent;">
		</div>
		<div class="card shadow-sm position-fixed" style="top: @(mouseY)px; left: @(mouseX)px; z-index: 1050; min-width: 200px;">
			<div class="card-header d-flex justify-content-between align-items-center py-1 bg-light">
				<div class="d-flex align-items-center gap-2 small">
					<strong>@selectedCell.Position</strong>
					<span class="text-muted">|</span>
					<div>@selectedCell.WorkDate.ToString("dddd dd.MM")</div>
					<span class="text-muted">|</span>
					<div>Shift @selectedCell.Shift</div>
				</div>
				<button type="button" class="btn-close ms-3" style="font-size: 0.75rem;" @onclick="ClosePopup"></button>
			</div>
			<div class="list-group list-group-flush small" style="max-height: 200px; overflow-y: auto;">
				@if (GetAssignment(
					selectedCell.WorkDate,
					selectedCell.Shift,
					selectedCell.ProductionLineId,
					selectedCell.Position) != null)
				{
					<button class="btn btn-danger" @onclick="()=>UnassignEmployeeAsync()">
						Unassign
					</button>				
				}
				@foreach (var employee in employees)
				{
					<button type="button"
							class="list-group-item list-group-item-action py-1 px-2"
							@onclick="() => AssignEmployee(employee.Id)">
						@employee.FirstName @employee.LastName
					</button>
				}
			</div>
		</div>
	}
</div>
